<footer class="screen quarter color3 white">
	<div class="contained">
		<ul>
			<li><b>Beware of the App &copy;</b></li>
			<li><b>Por</b> Davi Diório Mendes</li>
			<li>Desenvolvido com <b>endurojs</b></li>
			<li>Hospedado em <b>GitHub pages</b></li>
		</ul>
	</div>
</footer>